<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.HSQLDialect
        </property>
        <property name="connection.url">jdbc:hsqldb:hsql://localhost/workdb</property>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.username">SA</property>
        <property name="connection.password"/>
        <property name="connection.default_schema">PUBLIC</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <!-- DB schema will be updated if needed -->
        <mapping class="domain.model.Player"/>
        <mapping class="domain.model.Team"/>
        <mapping class="domain.model.TeamStatistics"/>
        <mapping class="domain.model.MatchHistory"/>
        <mapping class="domain.model.GameMap"/>
    </session-factory>
</hibernate-configuration>